{% extends 'quiz/layout.html' %}
{% block body %}




<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
    
body {
    background: lightblue url("img_tree.gif") no-repeat fixed center;
   
  padding-left: 50px;
}

h1 {
    text-shadow: 2px 2px;
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head><center>
</br>
</br>
</br>
</br>
</br>
</br>

    <button><a href="create"><h10>Create Quiz</h10></a></button>
</br>
</br>
</br>
</br>
</br>
</br>
    <button><a href="participate"><h10>Participate in Quiz</h10></a></button></center>
{% endblock %}